



/*-----------------------------
      FEATURE WRAP ELEMENT
------------------------------*/ 
.feature-wrap {
    margin-bottom: 50px;
    @include flex__start;
}

.feature-icon {
    i {
        font-size: 45px;
        margin-right: 20px;
        display: inline-block;
        @include text__gradient;
    }
}

.feature-text {
    h5 {
        font-weight: 900;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
}