



/*-----------------------------
        PRICE CARD ELEMENT
------------------------------*/ 
.price-card {
    padding: 0px 50px 50px;
    margin: 65px 13px 0px;
    background: #e5eeff;
    text-align: center;

    i {
        width: 130px;
        height: 130px;
        font-size: 48px;
        line-height: 125px;
        border-radius: 50%;
        margin-top: -65px;
        margin-bottom: 25px;
        text-align: center;
        display: inline-block;
        color: var(--white);
        background: var(--gradient);
        border: 10px solid var(--white);
    }

    h3 {
        font-size: 26px;
        font-weight: 900;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    p {
        margin-bottom: 20px;
        text-transform: capitalize;
    }

    ul {
        text-align: left;
        width: max-content;
        padding: 10px 0px;
        margin: 0 auto 25px;
        border-top: 1px solid var(--light);
        border-bottom: 1px solid var(--light);

        li {
            font-size: 17px;
            margin: 10px 0px;
            text-transform: capitalize;

            span,
            del,
            a {
                padding-left: 25px;
                position: relative;

                &::before {
                    position: absolute;
                    top: 47%;
                    left: 0px;
                    font-size: 15px;
                    line-height: 15px;
                    color: var(--primary);
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    transform: translateY(-50%);
                }
            }

            span {
                &::before {
                    content: "\f058";
                }
            }

            del {
                color: #969696;

                &::before {
                    content: "\f056";
                    color: #969696;
                }
            }

            a {
                padding: 0px;
                font-size: 16px;
                padding-left: 25px;
                color: var(--primary);
                text-align: left;
                background: transparent;
                @include cursor__transition;

                &:hover {
                    color: var(--primary);
                    text-decoration: underline;
                }

                &::before {
                    content: "\f059";
                }
            }
        }
    }

    h4 {
        font-size: 15px;
        margin-bottom: 15px;
        font-style: italic;
        text-transform: uppercase;

        del {
            color: var(--light);
        }
    }

    h5 {
        font-size: 50px;
        font-weight: 900;

        sub {
            font-size: 18px;
            font-weight: 400;
            bottom: 0px;
        }
    }

    h6 {
        font-size: 12px;
        font-weight: 400;
        color: #b590ce;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    a {
        width: 100%;
        font-weight: 700;
        padding: 12px 0px;
        text-align: center;
        text-transform: uppercase;
        color: var(--white);
        background: var(--gradient);
    }

    small {
        font-size: 16px;
        font-weight: 700;
        margin-top: 15px;
        letter-spacing: 5px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: var(--bs-yellow);
    }
}

.price-card.active {
    background: var(--gradient);

    h3,
    h4,
    h5,
    li,
    p {
        color: var(--chalk);
    }

    ul {
        border-color: var(--bs-gray);

        li {
            span {
                &::before {
                    color: var(--primary-light);
                }
            }

            a {
                color: var(--primary-light);
                background: transparent;

                &:hover {
                    text-decoration-color: var(--primary-light);
                }

                &::before {
                    color: var(--primary-light);
                }
            }
        }
    }

    a {
        color: var(--primary);
        background: var(--white);
    }
}


@media (max-width: 575px) {
    .price-card {
        margin: 65px 8px 0px;
    }
}
