



/*-----------------------------
    TESTIMONIAL CARD ELEMENT
------------------------------*/ 
.testi-card {
    padding: 50px 50px;
    background: var(--gradient);
    position: relative;

    i {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
        border-radius: 50%;
        color: var(--primary);
        background: var(--primary-chalk);
        text-align: center;
        position: absolute;
        top: -20px;
        left: -35px;
    }
}

.testi-rating {
    margin-bottom: 10px;

    a {
        font-size: 15px;
        margin-right: 3px;
        color: var(--bs-orange);
    }
}

.testi-desc {
    font-style: italic;
    margin-bottom: 30px;
    color: var(--white);
}

.testi-user {
    @include flex__center__start;

    a {
        border-radius: 50%;
        margin-right: 15px;
        border: 2px solid var(--primary);

        img {
            width: 55px;
            border-radius: 50%;
            border: 3px solid transparent;
        }
    }

    h5 {
        color: var(--white);
        text-transform: capitalize;

        span {
            display: block;
            font-size: 16px;
            font-weight: 400;
            margin-top: 3px;
            color: var(--primary-light);
        }
    }
}

//========================================
//   RESPONIVE TESTIMONIAL CRAD STYLE
//========================================
@media (max-width: 575px) {
    .testi-card {
        padding: 35px 35px;

        i {
            width: 60px;
            height: 60px;
            font-size: 25px;
            line-height: 60px;
        }
    }
}