




@import "../1-helpers/_mixin.scss";


/*========================================
            CHECKOUT PART STYLE
=========================================*/
.checkout-part {
    padding: 100px 0px;
    background: var(--chalk);
}

.checkout-action {
    text-align: center;
    margin-bottom: 65px;
    padding: 18px 20px 15px;
    background: var(--white);
    border-top: 3px solid var(--primary);
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

    i {
        color: var(--primary);
        margin-right: 8px;
    }

    span {
        font-weight: 500;
        color: var(--heading);

        a {
            color: var(--primary);
            @include cursor__transition;

            &:hover {
                color: var(--primary);
                text-decoration: underline;
            }
        }
    }
}

// checkout form parent
.checkout-form {
    padding: 0px 15px;
}

// checkout form title
.check-form-title {
    margin-bottom: 50px;

    h3 {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            top: 50px;
            left: 0px;
            width: 100%;
            height: 1px;
            background: var(--border);
        }

        &::after {
            position: absolute;
            content: "";
            top: 50px;
            left: 0px;
            width: 50px;
            height: 2px;
            background: var(--primary);
        }
    }
}

// checkout table parent
.checkout-table {
    padding: 70px 10px;
}

.cartlist-table {
    background: var(--white);
    box-shadow: var(--primary-bshadow);

    thead {
        tr {
            background: var(--primary);
    
            th {
                font-size: 20px;
                font-weight: 700;
                white-space: nowrap;
                text-align: center;
                text-transform: capitalize;
                padding: 15px 20px;
                color: var(--white);
            }
        }
    }
    
    tbody {
        tr {
            th {
                text-transform: capitalize;
                text-align: center;
                padding: 30px 20px;
                line-height: 33px;
            }

            td {
                padding: 30px 20px;
                line-height: 33px;
                text-align: center;
                text-transform: capitalize;

                i {
                    color: var(--text);
                }
            }
        }
    }
}

.product-quantity {
    @include flex__center;
    
    button {
        i {
            width: 35px;
            height: 35px;
            font-size: 14px;
            line-height: 35px;
            text-align: center;
            display: inline-block;
            color: var(--primary);
            background: var(--chalk);
            text-shadow: var(--primary-tshadow);
            @include cursor__transition;

            &:hover {
                color: var(--white);
                background: var(--primary);
            }
        }
    }

    input {
        width: 70px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        font-weight: 500;
        margin: 0px 8px;
        text-align: center;
        color: var(--text);
        background: var(--primary-chalk);
        text-shadow: var(--primary-tshadow);
    }
}

// checkout total charge
.checkout-charge {
    margin-bottom: 45px;
    
    ul {
        width: 600px;
        margin: 0 auto;
        background: var(--white);
        border-top: 3px solid var(--primary);
        box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

        li {
            padding: 18px 30px;
            @include flex__center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border);

            &:last-child {
                border-bottom: none;
            }

            span {
                font-size: 18px;
                color: var(--heading);
            }
        }
    }
}

// checkout order place button
.check-order-btn {
    text-align: center;
}


// for checkout part responsive
@media (max-width: 767px) {
    .checkout-part {
        padding: 60px 0px;
    }

    .checkout-table {
        padding: 30px 0px;
    }

    .checkout-form {
        padding: 0px 0px;
    }

    .table-scroll {
        overflow-x: scroll;

        .table-list {
            width: 800px;
        }
    }

    .checkout-charge {
        ul {
            width: 100%;
        }
    }
}