



/*-----------------------------
        NAVTABS COMPONENT
------------------------------*/ 
.nav-tabs {
    border: none;
    align-items: center;
    justify-content: center;
}

.tab-link {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    color: var(--gray);
    @include flex__center;
    @include cursor__transition;

    &:hover {
        color: var(--primary);
    }

    i {
        font-size: 14px;
        margin-right: 8px;
    }
}

.tab-link.active {
    color: var(--primary);
}

.tab-pane {
    display: none;
    padding: 0px;
}

.tab-pane.active {
    display: block;
}


// price and compare tabs
.plan-tabs {
    padding: 3px;
    width: max-content;
    margin: 0px auto 50px;
    background: var(--primary-chalk);
    border: 2px solid var(--primary);

    .tab-link {
        padding: 8px 30px;
    }

    .tab-link.active {
        color: var(--white);
        background: var(--primary);
    }
}

@media (max-width: 575px) {
    .plan-tabs {
        .tab-link {
            padding: 8px 22px;
        }
    }
}
