



.new {
    background: var(--bs-red);
}

.hot {
    background: var(--bs-orange);
}

.bg-chalk {
    background: var(--chalk);
}

.bg-light {
    background: var(--primary-chalk);
}