


//========================================
//          ALL DECLARE VARIABLE
//========================================
:root {

    // COLOR
    --gray: #777777;
    --text: #555555;
    --dark: #050629;
    --white: #ffffff;
    --light: #bbbddd;
    --chalk: #f9f9f9;
    --border: #e8e8e8;
    --heading: #39404a;
    --primary: #8115c8;
    --primary-deep: #55188a;
    --primary-light: #ddaaff;
    --primary-chalk: #f7fbff;
    --gradient: linear-gradient(to right, #551765, #2b0f90);

    // SOCIAL COLOR
    --facebook: #3b5998;
    --linkedin: #0e76a8;
    --twitter: #00acee;

    // BOX SHADOW
    --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

    // TEXT SHADOW
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
}
