



/*-----------------------------
          ABOUT LAYOUT
------------------------------*/ 
.about-image {
    margin-right: 50px;
    position: relative;

    .company {
        width: 85%;
        box-shadow: var(--primary-bshadow);
    }

    .people {
        position: absolute;
        width: 60%;
        bottom: -125px;
        right: 0px;
        border: 10px solid var(--white);
    }
}

.about-content {
    .section-title {
        margin-bottom: 20px;
    }

    ul {
        margin-top: 50px;
        @include flex__center__start;

        li {
            margin-right: 50px;
            padding-right: 50px;
            border-right: 1px solid var(--border);

            &:last-child {
                padding: 0px;
                margin: 0px;
                border: none;
            }

            h5 {
                font-size: 35px;
                font-weight: 900;
                margin-bottom: 3px;
                @include text__gradient;
            }

            p {
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}


@media (max-width: 991px) {
    .about-image {
        margin-right: 0px;
        margin-bottom: 125px;

        .people {
            bottom: -100px;
        }
    }
}

@media (max-width: 575px) {
    .about-content ul li {
        margin-right: 30px;
        padding-right: 30px;
    }
}