



/*-----------------------------
          BLOG LAYOUT
------------------------------*/ 
.blog-slider {
    .blog-card {
        margin: 0px 13px;
    }
}

.blog-btn {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 575px) {
    .blog-slider {
        .blog-card {
            margin: 0px 8px;
        }
    }
}
