



/*-----------------------------
      CALL TO ACTION LAYOUT
------------------------------*/ 
.call2action-part {
    text-align: center;
    padding: 110px 0px 120px;
    background: url(../images/pattern/round.jpg);
    @include background__property;

    h2 {
        font-size: 50px;
        font-weight: 900;
        margin-bottom: 15px;
        letter-spacing: -1.5px;
        text-transform: capitalize;
        @include text__gradient;
    }

    p {
        width: 750px;
        font-size: 20px;
        margin: 0 auto 50px;
        letter-spacing: -0.5px;
    }
}

@media (max-width: 575px) {
    .call2action-part {
        h2 {
            font-size: 30px;
        }
    }
}

@media (max-width: 991px) {
    .call2action-part {
        padding: 60px 0px 70px;

        p {
            width: 100%;
        }
    }
}