



/*-----------------------------
        COMPARE LAYOUT
------------------------------*/ 
.compare-part {
    background: var(--primary-chalk);
}

.compare-table {
    margin-bottom: 50px;
    background: var(--white);
    box-shadow: var(--primary-bshadow);

    tbody {
        tr {
            &:first-child {
                th {
                    padding: 18px 20px;
                    background: var(--primary-chalk);
                }
            }

            th {
                width: 250px;
                padding: 15px 20px;
            }

            td {
                padding: 15px 20px;

                .fa-check {
                    font-size: 14px;
                    color: var(--primary);
                }

                .fa-minus {
                    font-size: 14px;
                    color: var(--light);
                }
            }
        }
    }

    td {
        text-align: center;
    }
}

.compare-image {
    text-align: center;

    img {
        width: 200px;
        padding: 15px;
    }
}

.compare-head {
    text-align: center;
    padding: 30px;
}

.compare-plan {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.compare-tagline {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.compare-price {
    font-size: 45px;
    font-weight: 900;
    color: var(--primary);

    span {
        font-size: 18px;
        font-weight: 400;
    }
}

.compare-discount {
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: var(--gray);

    del {
        color: var(--bs-red);
    }
}

.compare-purchase {
    width: 100%;
    font-weight: 700;
    padding: 12px 0px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    background: var(--gradient);
    @include cursor__transition;

    &:hover {
        color: var(--white);
    }
}

.compare-heading {
    font-size: 20px;
    color: var(--primary);
    text-align: center;
    text-transform: capitalize;
}

.compare-group {
    @include flex__center__between;
}

.compare-title {
    font-size: 17px;
    color: var(--text);
    text-transform: capitalize;
}

.compare-tooltip {
    margin-left: 15px;
    position: relative;

    &:hover {
        span {
            visibility: visible;
            opacity: 1;
            bottom: 35px;
        }
    }

    i {
        font-size: 16px;
        color: var(--text);

        &:hover {
            color: var(--primary);
        }
    }

    span {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        bottom: 25px;
        left: -10px;
        z-index: 1;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        padding: 10px 12px;
        min-width: 180px;
        max-width: 200px;
        color: var(--white);
        background: var(--dark);
        box-shadow: var(--primary-bshadow);
        @include cursor__transition;

        &::before {
            position: absolute;
            content: "";
            bottom: -6px;
            left: 12px;
            border-top-left-radius: 3px;
            border-top: 7px solid transparent;
            border-left: 7px solid transparent;
            border-right: 7px solid var(--dark);
            border-bottom: 7px solid var(--dark);
            transform: rotate(45deg);
        }
    }
}

.compare-text {
    font-size: 17px;
    color: var(--text);
    text-transform: capitalize;
}

.compare-content {
    display: none;
}
