



/*-----------------------------
         HEADER LAYOUT
------------------------------*/ 
.header-part {
    position: absolute;
    top: 48px;
    left: 0px;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #e8e8e840;
    @include cursor__transition;
}

.header-part.active {
    position: fixed;
    top: 0px;
    background: var(--gradient);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.3);
    @include cursor__transition;
}

.header-nav-content {
    @include flex__center__between;
}

.header-logo {
    img {
        width: auto;
        height: 42px;
    }
}

.navbar-list {
    @include flex__center;
}

.navbar-item {
    margin: 0px 25px;
}

.navbar-link {
    font-size: 16px;
    font-weight: 500;
    padding: 28px 0px;
    color: var(--white);
    position: relative;
    text-transform: uppercase;
    @include cursor__transition;

    &:hover {
        color: var(--primary-light);

        &::before {
            color: var(--primary-light);
        }
    }
}

.header-widget-group {
    @include flex__center__end;
}

.header-profile {
    position: relative;
}

.header-user {
    padding: 25px 0px;
    @include flex__center;

    &:hover {
        span,
        i {
            color: var(--primary-light);
        }
    }

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    span {
        font-size: 16px;
        font-weight: 500;
        margin-left: 8px;
        color: var(--white);
        white-space: nowrap;
        text-transform: uppercase;
        @include cursor__transition;
    }

    i {
        font-size: 10px;
        margin-left: 6px;
        color: var(--white);
        @include cursor__transition;
    }
}

.header-widget {
    @include flex__center;
    margin-left: 30px;
    
    button,
    a {
        position: relative;
        margin-left: 30px;
        line-height: 14px;

        &:first-child {
            margin-left: 0px;
        }

        i {
            font-size: 28px;
            color: var(--white);
            display: inline-block;
        }

        sup {
            position: absolute;
            top: 60%;
            left: 50%;
            font-size: 15px;
            font-weight: 500;
            color: var(--white);
            transform: translate(-50%, -50%);
        }
    }
}

.nav-header,
.nav-footer,
.header-menu {
    display: none;
}

//========================================
//         RESPONIVE HEADER STYLE
//========================================
@media (max-width: 1199px) {
    .nav-sidebar {
        position: fixed;
        top: 0px;
        left: -300px;
        z-index: 5;
        width: 270px;
        height: 100%;
        background: var(--white);
        box-shadow: 15px 0px 25px 0px rgba(0, 0, 0, 0.3);
        @include cursor__transition;
    }
    
    .nav-sidebar.active {
        left: 0px;
    }

    .header-logo {
        img {
            height: 38px;
        }
    }
    
    .nav-header {
        display: block;
        text-align: center;
        position: relative;
        padding: 15px 0px;
        border-bottom: 1px solid var(--border);
    
        a {
            img {
                width: auto;
                height: 35px;
            }
        }
    }
    
    .nav-close {
        position: absolute;
        top: 50%;
        right: -18px;
        transform: translateY(-50%);
    
        i {
            width: 35px;
            height: 35px;
            font-size: 13px;
            line-height: 38px;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            color: var(--text);
            background: var(--white);
            @include cursor__transition;
    
            &:hover {
                color: var(--white);
                background: var(--primary);
            }
        }
    }
    
    .navbar-list {
        height: 100%;
        overflow-y: scroll;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        max-height: calc(100vh - 125px);
    }
    
    .navbar-item {
        width: 100%;
        margin: 0px;
        display: block;
    }
    
    .navbar-link {
        width: 100%;
        display: block;
        padding: 10px 20px;
        color: var(--heading);
    
        &:hover {
            color: var(--primary);
            background: var(--bs-light);
        }
    }
    
    .nav-footer {
        padding: 15px 0px;
        text-align: center;
        display: block;
    
        p {
            font-size: 15px;
            color: var(--gray);
    
            a {
                color: var(--primary);
            }
        }
    }

    .header-user {
        padding: 18px 0px;
    }

    .header-menu {
        display: block;

        i {
            font-size: 24px !important;
        }
    }
}

@media (max-width: 450px) {
    .header-logo {
        img {
            height: 30px;
        }
    }

    .header-user {
        img {
            width: 32px;
            height: 32px;
        }

        span {
            display: none;
        }
    }

    .header-widget {
        margin-left: 18px;

        button {
            margin-left: 18px;
        }
    }
}