




/*-----------------------------
        HEADER ALERT LAYOUT
------------------------------*/ 
.header-alert {
    position: relative;
    text-align: center;
    padding: 7px 0px;
    background: linear-gradient(to left, #c26234, #b90cad);

    p {
        font-size: 16px;
        font-weight: 500;
        color: var(--white);

        a {
            font-size: 13px;
            font-weight: 700;
            padding: 0px 12px;
            line-height: 24px;
            margin-left: 10px;
            margin-bottom: 2px;
            text-transform: uppercase;
            background: var(--white);
            color: var(--primary);
            @include cursor__transition;

            &:hover {
                color: var(--white);
                background: var(--primary);
            }
        }
    }

    button {
        position: absolute;
        top: 46%;
        right: 30px;
        transform: translateY(-50%);

        i {
            width: 25px;
            height: 25px;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            display: inline-block;
            color: var(--white);
            background: var(--primary-deep);
        }
    }
}

@media (max-width: 575px) {
    .header-alert {
        p {
            a {
                width: 120px;
                display: block;
                margin: 2px auto 5px;
            }
        }

        button {
            right: 15px;
        }
    }
}
