



/*-----------------------------
          PRICE LAYOUT
------------------------------*/ 
.price-btn {
    margin-top: 55px;
    text-align: center;

    p {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 25px;
        letter-spacing: -0.8px;
    }
}